/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

/* Portrait layout (default) */



.container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    @media (min-width: 768px) {
        .container {
            width: 750px;
        }
    }

    @media (min-width: 992px) {
        .container {
            width: 970px;
        }
    }

    @media (min-width: 1200px) {
        .container {
            width: 1170px;
        }
    }

    #nameInput,
    #btn_submit {
        width: 100%;
    }
		.wait-for-user{
			text-align: center;
			color: #717171;
		}
    #countrySelect {
        width: 27%;
        margin-right: 5px;
    }

    #numberInput {
        width: 70%;
    }

    .activity,
    #loader {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        display: none;
    }


    #loader>div {
        position: absolute;
        top: 48vh;
        left: 48%;
    }

    .form-data {
        position: absolute;
        bottom: 15%;
        width: 100%;
    }

    #form {
        background-image: -webkit-gradient(linear, 0 0, 0 2201.125, from(#f0c4ff), color-stop(0.006, #eac3fc), color-stop(0.113, #e6ccfd), color-stop(0.62, #cff2f8), to(#ebfac3));
        background-image: -webkit-linear-gradient(#f0c4ff, #eac3fc 0.6%, #e6ccfd 11.3%, #cff2f8 62%, #ebfac3);
        background-image: -moz-linear-gradient(#f0c4ff, #eac3fc 0.6%, #e6ccfd 11.3%, #cff2f8 62%, #ebfac3);
        background-image: -o-linear-gradient(#f0c4ff, #eac3fc 0.6%, #e6ccfd 11.3%, #cff2f8 62%, #ebfac3);
        background-image: linear-gradient(#fff, rgba(255, 255, 255, 0.3) 100%), linear-gradient(#f0c4ff, #eac3fc 0.6%, #e6ccfd 11.3%, #cff2f8 62%, #ebfac3);
    }

    .mdl-layout__header-row {
        padding: 0 16px 0 15px;
    }

    .demo-list-two {
        width: 80%;
    }

    .mdl-list__item-primary-content {
        color: #fff;
    }

    .mdl-list__item--two-line .mdl-list__item-primary-content .mdl-list__item-sub-title {
        color: rgba(255, 255, 255, 0.54);
    }

    .onlineData .data .online-details {
        float: left;
        min-width: 80px;
    }
.group-heading {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}
    .data {
        min-height: 23px;
        padding: 10px;
        margin-bottom: 15px;
        /* border-radius: 5px; */
        border-left: 3px solid green;
        border-right: 3px solid red;
        /* border-top: 1px solid #eee; */
        /* border-bottom: 1px solid #eee; */
        box-shadow: 0px 0px 16px #eee;
    }

    .onlineData .data .offline-details {
        float: right;
    }
.onlineData .data .online-duration{
	    display: inline-block;
    text-align: center;
    /* width: 100%; */
    margin: 0 auto;
    width: calc(100% - 160px);
    color: #878787;
    font-size: 0.85em;
}
    .tracking-text {
        display: none;
    }

    .current-online {
        display: none;
    }

    .offline-time,
    .current-online {
        display: none;
    }

    .mdl-layout__content {
        padding: 15px;
    }
.mdl-dialog {
  border: none;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
  width: 280px; }
  .mdl-dialog__title {
    padding: 24px 24px 0;
    margin: 0;
    font-size: 2.5rem; }
  .mdl-dialog__actions {
    padding: 8px 8px 8px 24px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .mdl-dialog__actions > * {
      margin-right: 8px;
      height: 36px; }
      .mdl-dialog__actions > *:first-child {
        margin-right: 0; }
    .mdl-dialog__actions--full-width {
      padding: 0 0 8px 0; }
      .mdl-dialog__actions--full-width > * {
        height: 48px;
        -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        padding-right: 16px;
        margin-right: 0;
        text-align: right; }
  .mdl-dialog__content {
    padding: 20px 24px 24px 24px;
    color: rgba(0,0,0, 0.54); }

